/* estilos comunes */
html,body{
  height: 100%;
}
body{
  color:#555;
  font-family: Arial,sans-serif;
  font-size: 13px;
}

h1,h2,h3,h4{
  color:#a9268d;
  font-family:"Oswald",Arial,sans-serif;
}

img{
  max-width: 100%;
  vertical-align: top;
  /*object-fit: contain;
  overflow: hidden;*/
  transition: all 1s;
}
/*****Header******/
.header{
  padding-bottom: 0;
  margin-bottom: 0;
}
.list-nav{
  text-align: center;
}
.list-nav li{
  display: inline-block;
}
.list-nav a {
  display: block;
  padding: 5px 20px;
  color: #555;
  font-family: "Oswald",Arial,sans-serif;
  transition: all .5s;
}
.list-nav a:hover{
  text-decoration: none;
  background:#BCBCBC;
  transform: scale(1.2);
}

.header-content{
  background: url('https://a1.muscache.com/locations/uploads/city/hero/63/0_4000_478_2558_hero_Seoul_Samcheongdong_ManchulKim__003_edit.jpg') center center no-repeat;
  background-size: cover;
  color: #FFF;
  padding: 100px 0;
  text-align: center;
}

.header-content h1{
  color: #FFF;
  text-shadow: 4px 6px 6px rgb(73, 127, 228);
}

/****About-me****/
.about-me .biografia img{
  float: left;
  width: 200px;
  margin-right: 20px;
}
.about-me{
  background: url(../img/tile1.png);
  padding: 20px 0;
}
/*****Favourites*****/
.favourite{
  padding: 50px 0;
  background: url(../img/background1.jpg) center;
  background-size: cover;
}
.list-favourites{
  margin: 30px auto 0;
}
.list-favourites li{
  list-style: none;
  display: inline-block;
  padding: 0 20px 25px;
  width: 25%;
}
.list-favourites img{
  border-radius: 100%;
  border: 1px solid #CCC;
  padding: 5px;
}
.list-favourites p{
  margin-top: 15px;
  color: white;
  font-size: 18px;
  font-family: Garamond, serif;
  font-weight: bold;
}/*
.favourite-scroll{
  height: 350px;
  overflow-y: scroll; }scroll vertical*/

/*****Contacto*****/
.contacto{
  height: auto;
  border: 1px solid #ddd;
  background: url(../img/tile2.png) center center;
  padding-top: 50px;
}
.social-section{
  padding: 0 150px;
  /*height: 240px;
  overflow-y: scroll; scroll vertical*/
}
.list-contact{
  margin-top: 25px;
}
.list-contact li{
  list-style: none;
  display: inline-block;
  padding: 0 20px 20px;
  width: 33%;
}
.list-contact img{
  height: 200px;
  border-radius: 100%;
}
