#contacto{
  height: auto;
  border: 1px solid #ddd;
  background: url(../img/bg-social.jpg) no-repeat;
  background-size: cover;
}
.social-section{

  padding: 50px 150px 0;
  background-color: rgba(0, 0, 0, 0.6);

}
.list-contact{
  margin-top: 25px;
    margin-bottom: 0;
}
.list-contact li{
  list-style: none;
  display: inline-block;
  padding: 0 20px 20px;
  width: 33%;
}
.list-contact img{
  height: auto;
  border-radius: 100%;
  max-width: 50%;
}
