.slider{
    width: 750px;
    height: 400px;
    overflow: hidden;
    margin: 20px auto;
}
.carousel-caption{
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    text-align: center;
    transition: all 1s;
    height: 400px;
    width: 100%;
    margin-left: -150px;
    bottom: 0;
    font-size: 14px;
    padding-top: 200px;
    padding-bottom: 0;
}
.carousel-caption h4{
    text-transform: uppercase;
    font-size: 18px;
}
.carousel-caption h4, .carousel-caption p{
     color:#e6dede !important;
}
.item a:hover .carousel-caption{
    opacity: 1;
}
.item img{
    width: 100%;
}
